{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
    <link rel="stylesheet" href="{% static 'assets/css/app.css'%}">
</head>

<body>
    <div class="row">
        <div class="medium-6 columns">
            <h1>Prueba de Browser Sync</h1>
            <h3 class="sub-header">
                browser sync funciona
                Este es otro test
            </h3>
        </div>
    </div>

    <script src="{% static 'assets/js/app.js'%}"></script>
</body>

</html>